@font-face {
  font-family: 'DIN Pro Regular';
  src: url('../fonts/DIN/DINPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }

@font-face {
  font-family: 'DIN Pro Medium';
  src: url('../fonts/DIN/DINPro-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }

@font-face {
  font-family: 'DIN Pro Light';
  src: url('../fonts/DIN/DINPro-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }


@font-face {
  font-family: 'DIN Pro Bold';
  src: url('../fonts/DIN/DINPro-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }